.background {
  width: 100%;
  object-fit: cover;
  height: 15vh;
  z-index: 1;
}

.components {
  display: flex;
  flex-direction: row;
  padding: 2%;
  font-size: 24px;
}

@media screen and (max-width: 1500px) {
  .components {
    font-size: 16px;
  }
}