@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');
body{
    background-color: #FAFAFA;
    padding: 0%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
